{% extends 'base.html.twig' %}
{% set title = "Chat" %}
{% set active = 'chat'%}

{% block body %}

<body class="hold-transition skin-blue sidebar-mini">



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Chat
        <small>message instantané</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Couriel</a></li>
        <li class="active">Chat</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Direct Chat -->
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /.col -->

        <div class="col-md-3">
        </div>
        <!-- /.col -->

        <div class="col-md-3">
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Chat</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                  <i class="fa fa-comments"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left" id="name"></span>
                    <span class="direct-chat-timestamp pull-right">date</span>
                  </div>
                  <!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="{{ asset('assets/images/tchat1.png') }}">
                  <div class="direct-chat-text" id="chat">
                  </div>
                </div>

                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right" id="name"></span>
                    <span class="direct-chat-timestamp pull-left">date</span>
                  </div>
                  <img class="direct-chat-img" src="{{ asset('assets/images/tchat2.png') }}">
                  <div class="direct-chat-text" id="chat">
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <input type="text" name="name" placeholder="Nom" class="form-control" id="name"><br>
                <div class="input-group">                    
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control" id="message">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat" id="sendBtn">Envoyer</button>
                        </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{{include ("include/footer.html.twig")}}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    const socket = new WebSocket("ws://localhost:3001");
 
    function addMessage(name, message) {
        const messageHTML = "<div class='message'><strong>" + name + ":</strong> " + message + "</div>";
        document.getElementById("chat").innerHTML += messageHTML
    }
 
    socket.addEventListener("message", function(e) {
        try
        {
            const message = JSON.parse(e.data);
            addMessage(message.name, message.message);
        }
        catch(e)
        {
            // Catch any errors
        }
    });

    document.getElementById("sendBtn").addEventListener("click", function() {
 
        const message = {
            name: document.getElementById("name").value,
            message: document.getElementById("message").value
        };
        socket.send(JSON.stringify(message));
        addMessage(message.name, message.message);
    });
  </script>
{% endblock %}