{% extends 'base.html.twig' %}
{% set title = "Chat" %}
{% set active = 'chat'%}

{% block body %}

<body class="hold-transition skin-blue sidebar-mini">

{{include ("include/menu.html.twig")}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Chat
        <small>message instantané</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Couriel</a></li>
        <li class="active">Chat</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Direct Chat -->
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /.col -->

        <div class="col-md-3">
        </div>
        <!-- /.col -->

        <div class="col-md-3">
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Chat</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                  <i class="fa fa-comments"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Username 1</span>
                    <span class="direct-chat-timestamp pull-right">date</span>
                  </div>
                  <!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="" alt=""><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    Message de l'user 1
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">Username 2</span>
                    <span class="direct-chat-timestamp pull-left">date</span>
                  </div>
                  <!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="" alt=""><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    Message de l'user 2
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
              </div>
              <!--/.direct-chat-messages-->

              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  <li>
                    <a href="#">
                      <img class="contacts-list-img" src="" alt="">

                      <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Autre user
                              <small class="contacts-list-date pull-right">Date</small>
                            </span>
                        <span class="contacts-list-msg">message</span>
                      </div>
                      <!-- /.contacts-list-info -->
                    </a>
                  </li>
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Envoyer</button>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{{include ("include/footer.html.twig")}}

{% endblock %}