{% extends 'base.html.twig' %}

{% block title %}Reinitialisation{% endblock %}

{% block body %}
    <div class="container">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Reinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez l'addresse email pour reinitialiser le mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
