{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <h1>Changer votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.new_password_forgot_password) }}
        <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(resetForm) }}
{% endblock %}
