
  <footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="">Messagerie</a></strong> Tout droit reservé.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>