  <div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="{{ asset('vendor/dist/img/AdminLTELogo.png') }}" alt="" height="60" width="60">
    </div>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <div class="media-body">
                {% for last_message in last_messages %}
                  <h3 class="dropdown-item-title">
                    {{ last_message.email_object }}
                  </h3>
                  <p class="text-sm">{{ last_message.email_message|raw }}</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> {{ last_message.email_createdAt|ago }}</p>
                {% else %}
                <p class="text-sm">Aucun message</p>
                {% endfor %}
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ path ('app_mailbox') }}" class="dropdown-item dropdown-footer">Voir tous les messages</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ asset('vendor/dist/img/avatar5.png') }}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ app.user.username }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{ asset('vendor/dist/img/avatar5.png') }}" class="img-circle" alt="User Image">
              <p>
                  {{ app.user.username }}
                  <small>{{ app.user.email }}</small>
                </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div align="text-center">
                <a href="{{ path('app_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
              </div>            
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link">
        <img src="{{ asset('vendor/dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Messagerie</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{{ asset('vendor/dist/img/avatar5.png') }}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">{{ app.user.username }}</a>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
           <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Messagerie
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link " data-toggle="modal" data-target="#NouveauMessage">
                  <i class="fas fa-paper-plane nav-icon"></i>
                  <p>Nouveau message</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path ('app_mailbox') }}" class="nav-link {{active is defined and active == "reception" ? "active" : ""}}">
                  <i class="fas fa-envelope nav-icon"></i>
                  <p>Boîte de réception</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path ('app_outbox') }}" class="nav-link {{active is defined and active == "envoie" ? "active" : ""}}">
                  <i class="fas fa-reply nav-icon"></i>
                  <p>Boîte d'envoie</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path ('app_draft') }}" class="nav-link {{active is defined and active == "brouillon" ? "active" : ""}}">
                  <i class="fas fa-file nav-icon"></i>
                  <p>Brouillon</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path ('app_archive') }}" class="nav-link {{active is defined and active == "archive" ? "active" : ""}}">
                  <i class="fas fa-archive nav-icon"></i>
                  <p>Archive</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path ('all_messages') }}" class="nav-link {{active is defined and active == "messages" ? "active" : ""}}">
                  <i class="fas fa-envelope nav-icon"></i>
                  <p>Tous les messages</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path ('app_trash') }}" class="nav-link {{active is defined and active == "corbeille" ? "active" : ""}}">
                  <i class="fas fa-trash nav-icon"></i>
                  <p>Corbeille</p>
                </a>
              </li>
            </ul>
          </li>
          
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    <div class="modal fade" id="NouveauMessage">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-envelope"> </i> Nouveau message</h4>
            <img src="{{ asset('assets/images/loading.gif') }}" width="35" height="35" style="display:none;position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%)" id="img2">
            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-info btn-sm"><i class="fa fa-times"></i></button>
          </div>
        {% if route is defined  %}
			{{ form_start(formMsgTransfert,{'attr': {'id': 'id-form', 'action': path('app_new'), 'method': 'post' }}) }}
			<div class="modal-body position-relative">
			  <div class="box-body">
				<div class="form-group">
				  {{ form_row(formMsgTransfert.recipient) }}
				  {{ form_row(formMsgTransfert.messageCcTo) }}
				  {{ form_row(formMsgTransfert.messageCciTo) }}
				  {{ form_row(formMsgTransfert.object) }}
				  {{ form_row(formMsgTransfert.message) }}<br>
				  {{ form_row(formMsgTransfert.file) }}
				</div>
			  </div>
			</div>
			<div class="box-footer">
			  <div class="pull-right">
				<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> Annuler</button>
				<button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Envoyé</button>
			  </div>
			  <button type="submit" class="btn btn-default" id="id-draft"><i class="fa fa-times"></i> Brouillon</button>
			</div>
			{{ form_end(formMsgTransfert) }}
          {% else %}
            {{ form_start(form,{'attr': {'id': 'id-form', 'action': path('app_new') }}) }}
            <div class="modal-body position-relative">
              <div class="box-body">
                <div class="form-group">
                  {{ form_row(form.recipient) }}
                  {{ form_row(form.messageCcTo) }}
                  {{ form_row(form.messageCciTo) }}
                  {{ form_row(form.object) }}
                  {{ form_row(form.message) }}<br>
                  {{ form_row(form.file) }}
                  <input type="hidden" id="msg-id-draft" name="message_draft">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a class="btn btn-default" id="id-draft"><i class="fa fa-times"></i> Brouillon</a>
              <button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> Annuler</button>
              <button type="button" class="btn btn-primary"><i class="fa fa-envelope"></i>Envoyer</button>
            </div>
            {{ form_end(form) }}
          {% endif %}
        </div>
      </div>
    </div>
 </div>
 






