.d-none{
    display: none;
}

.text-white{
    color: #ffffff;
}

.recipient{
    display: flex;
    justify-content: space-between;
}

.form-recipient{
    flex: 1;
    width: 100%;
}

.recipient-cc{
    margin: 0 1%;
    cursor: pointer;
}