<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Title</title>
	<style type="text/css">
		body {
			font-weight: 200;
			font-size: 14px;
		}
		.header {
			font-size: 20px;
			font-weight: 100;
			text-align: center;
			color: black;
		}
		.title {
			font-size: 22px;
			font-weight: 100;
			/* text-align: right;*/
			padding: 10px 20px 0px 20px;
		}
		.title span {
			color: black;
		}
		.details {
			padding: 10px 20px 0px 20px;
			text-align: left !important;
			/*margin-left: 40%;*/
		}
		.hrItem {
			border: none;
			height: 1px;
			/* Set the hr color */
			color: #333; /* old IE */
			background-color: #fff; /* Modern Browsers */
		}
	</style>
</head>
<body>
<div class='wrapper'>
	<div class='header'>
		<p class='title'>Mail</p>
	</div>
	<div>
		<div class='details'>
			De: {{ courier.sender.email }}<br/>
			À: {% for recipient in courier.recipient%} {{ recipient.email }} {{ not loop.last ? ',' }} {% endfor %}<br/>
			Objet: {{ courier.object }}<br/>
			Date: {{ courier.createdAt ? courier.createdAt|date('d-m-Y') : '' }}
			<hr class='hrItem' />
		</div>
		<div class='details'>
			Contenu:
		</div>
		<div class='details'>
			{{ courier.message }}
		</div>
	</div>
</div>
</body>
</html>
