{% extends 'base_messagerie.html.twig' %}
{% set title = "Saisie message" %}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}
	<!-------Formulaire Saisie Message------->
    <div style="width:100%;padding:20px;">
		<div class="modal-content">
			{{ form_start(form,{'attr': {'id': 'id-form','action': path('messagerie_new') }}) }}
				<div class="modal-header row">
					<div class="col-md-9">
						<h4 class="modal-title"><i class="fa fa-envelope"> </i> Nouveau message</h4>
						<img src="{{ asset('assets/images/loading.gif') }}" width="35" height="35" style="display:none;position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%)" id="img2">
					</div>	
					<div class="col-md-3" >			
						<a class="btn btn-default" id="id-draft"><i class="fa fa-times"></i> Brouillon</a>
						<button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> Annuler</button>
						<button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Envoyer</button>
					</div>
				</div>			
				<div class="modal-body position-relative">
				  <div class="box-body">
					<div class="form-group">
					  {{ form_row(form.recipient) }}
					  {{ form_row(form.messageCcTo) }}
					  {{ form_row(form.messageCciTo) }}
					  {{ form_row(form.object) }}
					  {{ form_row(form.message) }}<br>
					  {{ form_row(form.file) }}
					  <input type="hidden" id="msg-id-draft" name="message_draft">
					</div>
				  </div>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
	<script src="{{ asset('assets/js/check-multiple.js') }}"></script>
	<script>
		var submit={{submit}};
		$(function(){
			if(submit){
				window.close();
			}
		});
	</script>
{% endblock %}