{% extends 'base.html.twig' %}
{% set title = "Authentification" %}

{% block body %}

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Messagerie</b>AVT</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Authentification</p>

      <form method="post">
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
        <div class="input-group mb-3">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="Email">
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot depasse">
        </div>
        <div class="row">
          <div class="col-8">
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    <br>
      <p class="mb-1">
        <a href="{{ path ('app_reset') }}">Mot de passe oublié</a>
      </p>
      <p class="mb-0">
        <a href="{{ path ('app_register') }}" class="text-center">Créer compte</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->


{% endblock %}



