{% extends 'base.html.twig' %}
{% set title = "Créer compte" %}

{% block body %}

<body class="hold-transition register-page">
<div class="register-box">

  <div class="register-box-body">
      <!-- /.login-logo -->
    <div class="login-box-body">
      <div class="login-logo">
        <b>Messagerie</b>
      </div>
    <p class="login-box-msg">Créer compte</p>
  
      {{ form_start(registrationForm) }}
      <div class="form-group has-feedback">
        {{ form_row(registrationForm.username) }}
        
      </div>
      <div class="form-group has-feedback">
        {{ form_row(registrationForm.email) }}
       
      </div>
      <div class="form-group has-feedback">
        {{ form_row(registrationForm.phoneNumber) }}
       
      </div>
      <div class="form-group has-feedback">
        {{ form_row(registrationForm.plainPassword) }}
        
      </div>
      <div class="row">
        <div class="col-xs-7">
          {# <div>
            {{ form_row(registrationForm.agreeTerms) }}
          </div> #}
        </div>
        <!-- /.col -->
        <div class="col-xs-5">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Créer compte</button>
        </div>
        <!-- /.col -->
      </div>
      {{ form_end(registrationForm) }}

    <a href="{{ path ('app_login') }}" class="text-center">Se connecter</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock %}

