{% extends 'base.html.twig' %}
{% set title = "Mot de passe oublié" %}

{% block body %}

<body class="hold-transition login-page">
<div class="login-box">

  <!-- /.login-logo -->
    <div class="login-box-body">
      <div class="login-logo">
        <b>Messagerie</b>
      </div>
    <p class="login-box-msg">Mot de passe oublié</p>

    <form action="" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Envoyé</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

{% endblock %}
