<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    {% block stylesheets %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/fontawesome-free/css/all.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bootstrap 4 -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('vendor/dist/css/adminlte.min.css') }}">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
        <!-- Select2 -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/select2/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
        <!-- Bootstrap4 Duallistbox -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css') }}">
        <!-- summernote -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/summernote/summernote-bs4.min.css') }}">
          <!-- summernote -->
        <link rel="stylesheet" href="{{ asset('vendor/plugins/summernote/summernote-bs4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">

    {% endblock %}
	<!-- jQuery -->
	<script src="{{ asset('vendor/plugins/jquery/jquery.min.js') }}"></script>	
</head>
<body>
	{% block nav %}
		{{render_esi(url("menu_messagerie"))}}
	{% endblock %}
	{% block body %} {% endblock %}
	{% block footer%}	
		<div class="wrapper">
		  <footer class="main-footer">
			<strong>Copyright &copy; 2021 <a href="">Messagerie</a></strong> Tout droit reservé.</strong>
			<div class="float-right d-none d-sm-inline-block">
			  <b>Version</b> 1.0.0
			</div>
		  </footer>	
		</div>
	{% endblock %}
</body>

{% block javascripts %}

  <!-- jQuery UI 1.11.4 -->
  <script src="{{ asset('vendor/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script src="{{ asset('vendor/plugins/select2/js/select2.full.min.js') }}"></script>
  <!-- Bootstrap 4 -->
  <script src="{{ asset('vendor/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Sparkline -->
  <script src="{{ asset('vendor/plugins/sparklines/sparkline.js') }}"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="{{ asset('vendor/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
  <!-- Summernote -->
  <script src="{{ asset('vendor/plugins/summernote/summernote-bs4.min.js') }}"></script>
  <!-- overlayScrollbars -->
  <script src="{{ asset('vendor/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
  <!-- AdminLTE App -->
  <script src="{{ asset('vendor/dist/js/adminlte.js') }}"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="{{ asset('vendor/dist/js/pages/dashboard.js') }}"></script>
  <!-- CkEditor -->
  <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
  <script src="{{ asset('vendor/use/multipleFile.js') }}"></script>
  <script src="{{ asset('vendor/use/nouveau_msg.js') }}"></script>
  <script src="{{ asset('vendor/use/draft.js')}}"></script>

  <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/js/dataTables.bootstrap.min.js') }}"></script>

    <script src="{{ asset('vendor/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('vendor/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/outil.js') }}"></script>

    <script type="text/javascript">

        $('.select2bs4').select2({
        theme: 'bootstrap4'
        });
        // select2
        $('.select2').select2({
            placeholder: "À",
            allowClear: true,
            tags: true,
            tokenSeparators: [',', '']
        });

        $('#user-to-share').select2({
            placeholder: "À",
            allowClear: true
        });
        $('#user-to-send-draft').select2({
            placeholder: "À",
            allowClear: true
        });
        $('.message-cc').select2({
            placeholder: "Cc",
            allowClear: true,
            tags: true,
            tokenSeparators: [',','']
        });
        $('.message-cci').select2({
            placeholder: "Cci",
            allowClear: true,
            tags: true,
            tokenSeparators: [',','']
        });
        
        $(function () {
            $('#data-table').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                'language': {
                    "search": "Recherche :",
                    "lengthMenu": "Afficher _MENU_ enregistrements par page",
                    "zeroRecords": "Aucune correspondance",
                    "info": "Lignes _PAGE_ sur _PAGES_",
                    "infoFiltered": "(filtré de _MAX_ enregistrements)",
                    "paginate": {
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            })
        })

        $('.btn-file').multifile();
        $('#file_reply').multifile();
        $('#file_share').multifile();
        $('#file_draft').multifile();
        $(".recipient-cc").on("click", function () {
            $(".recipient").clone().appendTo("div.form-recipient");
        });

        CKEDITOR.replace('textAreaEditor');
        CKEDITOR.replace('courrier_message');
        CKEDITOR.replace('textAreaEditorShare');
        CKEDITOR.replace( 'textAreaSendDraftMsg' );

        var urlSend = "{{ path("app_new") }}";
        var urlOutboxredirect = "{{ path("app_outbox") }}";
        var urlDraft = "{{ path("app_draft") }}";
        var urlMailBox = "{{ path("app_mailbox") }}";
        var urlNewDraft = "{{ path("new_draft") }}";
    </script>

{% endblock %}
</html>
