{% extends 'base.html.twig' %}
{% set title = "Boîte d'archive" %}
{% set active = 'archive'%}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{include ("include/menu.html.twig")}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion de messagerie</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Avt</a></li>
                <li class="breadcrumb-item active">Archive</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">

        <div class="card">          
            <div class="card-header">
              <h3 class="card-title">Archive</h3>
            </div>
            <form action="#" method="post" id="form-btn-mailbox">

            <div class="card-body p-0">
                <div class="error"></div>
                <div class="mailbox-controls">
                <!-- Check all button -->
                {% if archives|length > 0 %}
                <input type="checkbox" id="checkAll" class="btn btn-default btn-sm checkbox-toggle">  
                    <button type="submit" class="btn btn-danger btn-sm btn-remove"
                            data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                      <i class="far fa-trash-alt"></i>
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm btn-archive"
                            data-toggle="tooltip" data-placement="bottom" title="Désarchiver">
                      <i class="fas fa-archive"></i>
                    </button>
                    <a href="{{ path('app_trash') }}" class="btn btn-default btn-sm"
                      data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                      <i class="fas fa-sync-alt"></i>
                    </a>  
                {% endif %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for archive in archives %}
                      <tr>
                        <td>
                          <input type="checkbox" name="checkbox_multiple[]" value="{{ archive.id}}" class="checkbox_multiples">
                        </td>
                        <td>
                          {% if archive.sender.email == app.user.email %}
                            moi
                          {% else %}
                            {{ archive.sender.username is not null ? archive.sender.username : "" }}
                          {% endif %}
                        </td>
                        <td>{{ archive.object is not null ?  archive.object : ""}} - {{ archive.message is not null ?  archive.message[:95] ~ (archive.message|length > 95 ? '...'): ""}} <br/>
                          {% for file in archive.files %}
                            <span class="badge bg-success"><i class="fa fa-file-archive"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                          {% endfor %}
                        </td>
                        <td>{{ archive.createdAt|ago }}</td>
                        <td>
                          <a href="{{ path('trash', {'id': archive.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                          <a href="{{ path('unarchive', {'id': archive.id}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Désarchiver"><i class="fa fa-share-square"></i></a>
                        </td>
                      </tr>
                    {% else %}
                      <tr>
                        <div align="center">
                          <h4 class="text-danger">Aucun message archivé</h4>
                        </div>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
</div>
    <!-- Main content -->
    {# <section class="content">
      <div class="box box-primary">
          <div class="box-header">
            
            <form action="#" method="post" id="form-btn-mailbox">
              <div class="box-body no-padding">
                <div class="error"></div>
                <div class="mailbox-controls">
                  {% if archives|length > 0 %}
                    <input type="checkbox" id="checkAll">
                    <button type="submit" class="btn btn-primary btn-sm btn-archive"
                            data-toggle="tooltip" data-placement="bottom" title="Désarchiver">
                      <i class="fa fa-archive"></i>
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm btn-remove"
                            data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                      <i class="fa fa-trash-o"></i>
                    </button>
                    <button type="submit" class="btn btn-success btn-sm btn-read"
                            data-toggle="tooltip" data-placement="bottom" title="Marquer comme lu">
                      <i class="fa fa-envelope-o"></i>
                    </button>
                    <a href="{{ path('app_outbox') }}" class="btn btn-default btn-sm"
                      data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                      <i class="fa fa-refresh"></i>
                    </a>
                  {% endif %}
                </div>
                <div class="table-responsive mailbox-messages">
                  <table id="data-table" class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for archive in archives %}
                      <tr>
                        <td>
                          <input type="checkbox" name="checkbox_multiple[]" value="{{ archive.id}}" class="checkbox_multiples">
                        </td>
                        <td>
                          {% if archive.sender.email == app.user.email %}
                            moi
                          {% else %}
                            {{ archive.sender.username is not null ? archive.sender.username : "" }}
                          {% endif %}
                        </td>
                        <td>{{ archive.object is not null ?  archive.object : ""}} - {{ archive.message is not null ?  archive.message[:95] ~ (archive.message|length > 95 ? '...'): ""}} <br/>
                          {% for file in archive.files %}
                            <span class="badge bg-default"><i class="fa fa-file-archive-o"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                          {% endfor %}
                        </td>
                        <td>{{ archive.createdAt|ago }}</td>
                        <td>
                          <a href="{{ path('trash', {'id': archive.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                          <a href="{{ path('unarchive', {'id': archive.id}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Désarchiver"><i class="fa fa-share-square"></i></a>
                        </td>
                      </tr>
                    {% else %}
                      <tr>
                        <div align="center">
                          <h4 class="text-danger">Aucun message archivé</h4>
                        </div>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
        </div>
      </div>
    </section>
  </div> #}
  <!-- /.content-wrapper -->
{{include ("include/footer.html.twig")}}

{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
    let path_trash_multiple = "{{ path('trash_multiple') }}";
    let path_archive_multiple = "{{ path('unarchive_multiple') }}";
    let path_box = "app_archive";
  </script>
  <script src="{{asset('assets/js/check-multiple.js')}}"></script>
{% endblock %}

