{% extends 'base.html.twig' %}
{% set title = "Brouillon" %}
{% set active = 'brouillon'%}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{include ("include/menu.html.twig")}}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion de messagerie</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Avt</a></li>
                <li class="breadcrumb-item active">Brouillon</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">

        <div class="card">          
            <div class="card-header">
              <h3 class="card-title">Brouillon</h3>
            </div>
            <form action="#" method="post" id="form-btn-mailbox">

            <div class="card-body p-0">
                <div class="error"></div>
                <div class="mailbox-controls">
                <!-- Check all button -->
                {% if drafts|length > 0 %}
                <input type="checkbox" id="checkAll" class="btn btn-default btn-sm checkbox-toggle">  
                    <button type="submit" class="btn btn-danger btn-sm btn-remove"
                            data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                      <i class="far fa-trash-alt"></i>
                    </button>
                    <a href="{{ path('app_draft') }}" class="btn btn-default btn-sm"
                      data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                      <i class="fas fa-sync-alt"></i>
                    </a>  
                {% endif %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                   {% for draft in drafts %}
                    <tr>
                      <td>
                        <input type="checkbox" name="checkbox_multiple[]" value="{{ draft.id }}" class="checkbox_multiples">
                      </td>
                      <td class="mailbox-name">
                        {% for destinataire in draft.recipient %}
                          <a href="{{ path('send_draft', {'id': draft.id}) }}"> {{ destinataire.username }}</a>
                          {{ not loop.last ? ',' }}
                        {% else %}
                          <p></p>
                        {% endfor %}
                      </td>
                      <td>{{ draft.object }} - {{ draft.message[:95] ~ (draft.message|length > 95 ? '...')}} <br/>
                        {% for file in draft.files %}
                          <span class="badge bg-success"><i class="fa fa-file-archive"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                        {% endfor %}
                      </td>
                      <td class="mailbox-date">{{ draft.createdAt|ago }}</td>
                      <td class="tools">
                        <a href="{{ path('trash', {'id': draft.id, 'route': 'app_outbox'}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>                                               
                    {% else %}
                        <tr>
                          <div align="center">
                            <h4 class="text-danger">Brouillon vide</h4>
                          </div>
                        </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
</div>
    {# <section class="content">
      <div class="box box-primary">
          <div class="box-header">
            
            <form action="#" method="post" id="form-btn-mailbox">
              <div class="box-body no-padding">
                <div class="error"></div>
                <div class="mailbox-controls">
                  {% if drafts|length > 0 %}
                    <input type="checkbox" id="checkAll">
                    <button type="submit" class="btn btn-danger btn-sm btn-remove" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash-o"></i></button>
                    <a href="{{ path('app_draft') }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualiser"><i class="fa fa-refresh"></i></a>
                  {% endif %}
                </div>
                <div class="table-responsive mailbox-messages">
                  <table id="data-table" class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for draft in drafts %}
                    <tr>
                      <td>
                        <input type="checkbox" name="checkbox_multiple[]" value="{{ draft.id }}" class="checkbox_multiples">
                      </td>
                      <td class="mailbox-name">
                        {% for destinataire in draft.recipient %}
                          <a href="{{ path('send_draft', {'id': draft.id}) }}"> {{ destinataire.username }}</a>
                          {{ not loop.last ? ',' }}
                        {% else %}
                          <p></p>
                        {% endfor %}
                      </td>
                      <td>{{ draft.object }} - {{ draft.message[:95] ~ (draft.message|length > 95 ? '...')}} <br/>
                        {% for file in draft.files %}
                          <span class="badge bg-default"><i class="fa fa-file-archive-o"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                        {% endfor %}
                      </td>
                      <td class="mailbox-date">{{ draft.createdAt|ago }}</td>
                      <td class="tools">
                        <a href="{{ path('trash', {'id': draft.id, 'route': 'app_outbox'}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>                                               
                    {% else %}
                        <tr>
                          <div align="center">
                            <h4 class="text-danger">Brouillon vide</h4>
                          </div>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
        </div>
      </div>
    </section> 
  </div> #}

{{include ("include/footer.html.twig")}}

{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
    let path_trash_multiple = "{{ path('trash_multiple') }}";
    let path_box = "app_mailbox";
  </script>
  <script src="{{asset('assets/js/delete-multiple.js')}}"></script>
{% endblock %}

