{% extends 'base.html.twig' %}
{% set title = "Nouveau message" %}
{% set active = 'brouillon'%}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{include ("include/menu.html.twig")}}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Nouveaux messages
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Messagerie</a></li>
			<li class="active">Nouveau message</li>
		</ol>
	</section>
	
	<!-- Main content -->
	<section class="content">
		<div class="box box-primary">
          <div class="box-header">
				
				<div class="box-body">
					<form action="" method="post">
					<div class="form-group">
						<div class="form-group">
							<select name="user[]" multiple size="4" id="user-to-send-draft">
								{% for user in users %}
									<option value="{{ user.id }}">{{ user.email }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="message_object" value="{{ courrier.object }}" placeholder="Objet">
						</div>
						<div class="form-group">
                <textarea class="textarea" placeholder="Message" id="textAreaSendDraftMsg" data-msg="{{ courrier.message }}"
						  style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" ></textarea>
						</div>
						{#{{ form_row(form.file) }}#}
						<div class="form-group">
							<input type="file" class="form-control" name="file_draft[]" id="file_draft" multiple="multiple">
						</div>
						<input type="hidden" id="msg_draft" name="message_draft">
					</div>
					</div>
				</div>
				
				<div class="box-footer">
					<div class="pull-right">
						<a class="btn btn-primary" id="sending-draft"><i class="fa fa-envelope-o"></i> Envoyé</a>
					</div>
					<a href="{{ path('app_draft')}}" class="btn btn-default"><i class="fa fa-times"></i> Annuler</a>
				</div>
			</form>
			
			</div>
		</div>
	</section>
</div>

{{include ("include/footer.html.twig")}}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $( document ).ready(function() {
    var msg_draft = $("textarea#textAreaSendDraftMsg").data('msg');
    $("textarea#textAreaSendDraftMsg").val(msg_draft);
    var urlSendDraft = "{{ path('send_draft', {'id': draft.id}) }}";
        $("#sending-draft").on('click', function (e) {
            var msg = CKEDITOR.instances['textAreaSendDraftMsg'].getData();
            $("#msg_draft").val(msg);
            var form = new FormData($('form')[1]);
                $.ajax({
                    url: urlSendDraft,
                    method: "POST",
                    dataType: "json",
                    cache: false,
                    processData: false,
                    contentType: false,
                    data: form,
                    success: function(data) {
                        window.location.replace(urlOutboxredirect);
                    },
                    error: function(error) {
                        console.log('erreur ajax');
                    }
                })
        });
    });
</script>
{% endblock %}