{% extends 'base.html.twig' %}
{% set title = "Corbeille" %}
{% set active = 'corbeille'%}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{include ("include/menu.html.twig")}}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion de messagerie</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Avt</a></li>
                <li class="breadcrumb-item active">Corbeille</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">

        <div class="card">          
            <div class="card-header">
              <h3 class="card-title">Corbeille</h3>
            </div>
            <form action="#" method="post" id="form-btn-mailbox">

            <div class="card-body p-0">
                <div class="error"></div>
                <div class="mailbox-controls">
                <!-- Check all button -->
                {% if trashes|length > 0 %}
                <input type="checkbox" id="checkAll" class="btn btn-default btn-sm checkbox-toggle">                
                <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer definitivement">
                    <i class="far fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Restaurer">
                    <i class="fa fa-share-square"></i>
                </button>
                <a href="{{ path('app_trash') }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                    <i class="fas fa-sync-alt"></i>
                </a>
                {% endif %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for trashe in trashes %}
                      <tr>
                        <td>
                          <input type="checkbox" name="checkbox_multiple[]" class="checkbox_multiples" value="{{ trashe.id }}">
                        </td>
                        <td>
                          {% if trashe.sender.email == app.user.email  %}
                            moi
                          {% else %}
                            {{ trashe.sender.username is not null ? trashe.sender.username : "" }}
                          {% endif %}
                        </td>
                        <td>{{ trashe.object is not null ?  trashe.object : ""}} - {{ trashe.message is not null ?  trashe.message[:95] ~ (trashe.message|length > 95 ? '...'): "" }} <br/>
                          {% for file in trashe.files %}
                            <span class="badge bg-success"><i class="fa fa-file-archive"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                          {% endfor %}
                        </td>
                        <td>{{ trashe.createdAt|ago }}</td>
                        <td>
                          <a href="{{ path('delete_message', {'id': trashe.id }) }}" class="btn btn-social-icon btn-default btn-sm"
                             data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                            <i class="fa fa-trash"></i>
                          </a>
                          <a href="{{ path('restore_trash', {'id': trashe.id, 'route': app.request.attributes.get('_route') }) }}"
                             class="btn btn-social-icon btn-default btn-sm"
                             data-toggle="tooltip" data-placement="bottom" title="Restaurer">
                            <i class="fa fa-share-square"></i>
                          </a>
                        </td>
                      </tr>                                               
                    {% else %}
                        <tr>
                          <div align="center">
                            <h4 class="text-danger">Corbeille vide</h4>
                          </div>
                        </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
</div>

{#   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Corbeille
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Messagerie</a></li>
        <li class="active">Corbeille</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-primary">
          <div class="box-header">
            
            <form action="#" method="post" id="form-btn-mailbox">
              <div class="box-body no-padding">
                <div class="error"></div>
                <div class="mailbox-controls">
                  {% if trashes|length > 0 %}
                    <input type="checkbox" id="checkAll">
                    <button type="submit" class="btn btn-info btn-sm btn-restore"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Restaurer">
                      <i class="fa fa-share-square"></i>
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm btn-remove"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Supprimer definitivement">
                      <i class="fa fa-trash-o"></i>
                    </button>
                    <a href="{{ path('app_trash') }}" class="btn btn-default btn-sm"
                       data-toggle="tooltip" data-placement="bottom"
                       title="Actualiser">
                      <i class="fa fa-refresh"></i>
                    </a>
                  {% endif %}
                </div>
                <div class="table-responsive mailbox-messages">
                  <table id="data-table" class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for trashe in trashes %}
                      <tr>
                        <td>
                          <input type="checkbox" name="checkbox_multiple[]" class="checkbox_multiples" value="{{ trashe.id }}">
                        </td>
                        <td>
                          {% if trashe.sender.email == app.user.email  %}
                            moi
                          {% else %}
                            {{ trashe.sender.username is not null ? trashe.sender.username : "" }}
                          {% endif %}
                        </td>
                        <td>{{ trashe.object is not null ?  trashe.object : ""}} - {{ trashe.message is not null ?  trashe.message[:95] ~ (trashe.message|length > 95 ? '...'): "" }} <br/>
                          {% for file in trashe.files %}
                            <span class="badge bg-default"><i class="fa fa-file-archive-o"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                          {% endfor %}
                        </td>
                        <td>{{ trashe.createdAt|ago }}</td>
                        <td>
                          <a href="{{ path('delete_message', {'id': trashe.id }) }}" class="btn btn-social-icon btn-default"
                             data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                            <i class="fa fa-trash"></i>
                          </a>
                          <a href="{{ path('restore_trash', {'id': trashe.id, 'route': app.request.attributes.get('_route') }) }}"
                             class="btn btn-social-icon btn-default btn-sm"
                             data-toggle="tooltip" data-placement="bottom" title="Restaurer">
                            <i class="fa fa-share-square"></i>
                          </a>
                        </td>
                      </tr>                                               
                    {% else %}
                        <tr>
                          <div align="center">
                            <h4 class="text-danger">Corbeille vide</h4>
                          </div>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
        </div>
      </div>
    </section>
  </div> #}

{{include ("include/footer.html.twig")}}

{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
    let path_trash_multiple = "{{ path('delete_definitive_multiple') }}";
    let path_restore_trash_multiple = "{{ path('restore_definitive_multiple') }}";
    let path_box = "";
  </script>
  <script src="{{asset('assets/js/check-multiple.js')}}"></script>
  <script src="{{asset('assets/js/restore-message-deleted-multiple.js')}}"></script>
{% endblock %}

