{% extends 'base.html.twig' %}
{% set title = "Boîte d'envoie" %}
{% set active = 'envoie'%}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{include ("include/menu.html.twig")}}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion de messagerie</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Avt</a></li>
                <li class="breadcrumb-item active">Boîte d'envoie</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">

        <div class="card">          
            <div class="card-header">
              <h3 class="card-title">Boîte d'envoie</h3>
            </div>
            <form action="#" method="post" id="form-btn-mailbox">

            <div class="card-body p-0">
                <div class="error"></div>
                <div class="mailbox-controls">
                <!-- Check all button -->
                {% if envoyes|length > 0 %}
                    <input type="checkbox" id="checkAll" class="btn btn-default btn-sm checkbox-toggle">                
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Archiver">
                        <i class="fas fa-archive"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Marquer comme lu">
                        <i class="fas fa-envelope"></i>
                    </button>
                    <a href="{{ path('app_outbox') }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                  {% endif %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for envoye in envoyes %}
                      <tr>
                        <td>
                          <input type="checkbox" name="checkbox_multiple[]" value="{{ envoye.id }}" class="checkbox_multiples">
                        </td>
                        <td>
                          {% for destinataire in envoye.recipient %}
                            <a href="{{ path('read', {'id': envoye.id, 'route': app.request.attributes.get('_route')}) }}"> {{ destinataire.username }}</a>
                            {{ not loop.last ? ',' }}
                          {% else %}
                            <p></p>
                          {% endfor %}
                        </td>
                        <td>{{ envoye.object }} - {{ envoye.message[:95] ~ (envoye.message|length > 95 ? '...')}} <br/>
                          {% for file in envoye.files %}
                            <span class="badge bg-success"><i class="fa fa-file-archive"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                          {% endfor %}
                        </td>
                        <td>{{ envoye.createdAt|ago }}</td>
                        <td>
                          <a href="{{ path('archive', {'id': envoye.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Archiver"><i class="fa fa-archive"></i></a>
                          <a href="{{ path('trash', {'id': envoye.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {% else %}
                      <tr>
                        <div align="center">
                          <h4 class="text-danger">Aucun message envoyé</h4>
                        </div>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
</div>

{#   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Boîte d'envoie
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-envelope"></i> Messagerie</a></li>
        <li class="active">Boîte d'envoie</li>
      </ol>
    </section>

    <section class="content">
      <div class="box box-primary">
          <div class="box-header">
            
            <form action="#" method="post" id="form-btn-mailbox">
              <div class="box-body no-padding">
                <div class="error"></div>
                <div class="mailbox-controls">
                  {% if envoyes|length > 0 %}
                    <input type="checkbox" id="checkAll" class="btn btn-default btn-sm checkbox-toggle">                
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Archiver">
                        <i class="fas fa-archive"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Marquer comme lu">
                        <i class="fas fa-envelope"></i>
                    </button>
                    <a href="{{ path('app_outbox') }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                  {% endif %}
                </div>
                <div class="table-responsive mailbox-messages">
                  <table id="data-table" class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for envoye in envoyes %}
                      <tr>
                        <td>
                          <input type="checkbox" name="checkbox_multiple[]" value="{{ envoye.id }}" class="checkbox_multiples">
                        </td>
                        <td>
                          {% for destinataire in envoye.recipient %}
                            <a href="{{ path('read', {'id': envoye.id, 'route': app.request.attributes.get('_route')}) }}"> {{ destinataire.username }}</a>
                            {{ not loop.last ? ',' }}
                          {% else %}
                            <p></p>
                          {% endfor %}
                        </td>
                        <td>{{ envoye.object }} - {{ envoye.message[:95] ~ (envoye.message|length > 95 ? '...')}} <br/>
                          {% for file in envoye.files %}
                            <span class="badge bg-default"><i class="fa fa-file-archive-o"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                          {% endfor %}
                        </td>
                        <td>{{ envoye.createdAt|ago }}</td>
                        <td>
                          <a href="{{ path('archive', {'id': envoye.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Archiver"><i class="fa fa-archive"></i></a>
                          <a href="{{ path('trash', {'id': envoye.id, 'route': app.request.attributes.get('_route')}) }}" class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {% else %}
                      <tr>
                        <div align="center">
                          <h4 class="text-danger">Aucun message envoyé</h4>
                        </div>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
        </div>
      </div>
    </section>
  </div> #}
{{include ("include/footer.html.twig")}}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    let path_trash_multiple = "{{ path('trash_multiple') }}";
    let path_archive_multiple = "{{ path('archive_multiple') }}";
    let path_box = "app_outbox";
  </script>
  <script src="{{asset('assets/js/check-multiple.js')}}"></script>
{% endblock %}
