{% extends 'base.html.twig' %}
{% set title = "Messages lus" %}
{% set active = 'lu'%}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{include ("include/menu.html.twig")}}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion de messagerie</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Avt</a></li>
                <li class="breadcrumb-item active">Message lu</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
        <section class="content">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Message lu</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-read-info">
                <h5>Objet: {{ courrier.object }}</h5>
                <h6>De: {{ courrier.sender.username }}
                  <span class="mailbox-read-time float-right">{{ courrier.createdAt|ago }}</span></h6>
              </div>
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
              <div class="user-block">
                  <img class="img-circle" src="{{ asset('assets/images/avatar.jpg') }}">
                  <span class="username"><a href="#">{{ courrier.sender.username }}</a> ({{ courrier.sender.email }})</span>
                  <span class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     &nbsp;&nbsp;&nbsp;À {{ app.user.username }} <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="#">De: {{ courrier.sender.username }} ({{ courrier.sender.email }})</a>
                      <a class="dropdown-item" href="#">à: {{ app.user.username }} ({{ app.user.email }})</a>
                      <a class="dropdown-item" href="#">Date: {{ courrier.createdAt|ago }}</a>
                      <a class="dropdown-item" href="#">Objet: {{ courrier.object }}</a>
                    </div>
                  </span>
                </div> <br> <br> 
                <p>{{ courrier.message|raw  }}</p>
              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer bg-white">
              <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
                {% if courrier.files %}
                {% for file in courrier.files  %}
                  <li>                    
                    <span class="mailbox-attachment-icon">
                      {% if file.libelle|split('.')|last == 'pdf' or 'xlsx' or 'pptx' or 'docx' %}
                        <i class="far fa-file-pdf"></i>
                      {% elseif file.libelle|split('.')|last == 'jpg' or 'png' or 'jpeg' or 'webp'%}                        
                        <img src="{{ asset('uploads/messages/' ~ file.libelle) }}">
                      {% endif %}   
                    </span>                          
                    <div class="mailbox-attachment-info">
                      <p class="mailbox-attachment-name"><i class="fas fa-paperclip"></i>&nbsp;&nbsp; {{ file.libelle }}</p>
                      <span class="mailbox-attachment-size">
                          &nbsp;
                          <a href="{{ asset('uploads/messages/' ~ file.libelle) }}" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download-alt"></i></a>
                        </span>
                    </div>
                  </li>                    
                {% endfor %}
              {% endif %}
              </ul>
            </div>
            <!-- /.card-footer -->
            <div class="card-footer">
              <div class="float-right">
              {% if route == "app_mailbox" %}
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#MessageReponse"><i class="fas fa-reply"></i> Répondre</button>
              {% endif %}
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#MessageTranfert"><i class="fas fa-share"></i> Transférer</button>
              </div>
              <a href="{{ path('trash', {'id': courrier.id, 'route': route  }) }}" type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Supprimer</a>
              <a href="{{ path('app_print', {'id': courrier.id}) }}" type="button" class="btn btn-default"><i class="fas fa-print"></i> Imprimer</a>
            </div>
            <!-- /.card-footer -->
          </div>
      </section>
  </div>

  <div class="modal fade" id="MessageReponse">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-envelope"> </i> Répondre l'email</h4>
            <img src="{{ asset('assets/images/loading.gif') }}" width="35" height="35" style="display:none;position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%)" id="img2">
            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-info btn-sm"><i class="fa fa-times"></i></button>
          </div>
        <div class="modal-body position-relative">
          
          <img src="{{ asset('assets/images/loading.gif') }}" width="90" height="90" style="display: none;position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%)" id="img">
        
          <div class="box-body">
            <form action="#" method="post" id="id-form">
              <div class="form-group">
                <p>À : {{ courrier.sender.email }}</p>
                <input type="text" class="form-control" name="emailto" placeholder="Email to:" value="{{ courrier.sender.email }}" >
              </div>
              <div class="form-group">
                <p>CC : </p>
                <input type="text" class="form-control" name="emailto" placeholder="Email to:" value="" >
              </div>
              <div class="form-group">
                <p>CCi : </p>
                <input type="text" class="form-control" name="emailto" placeholder="Email to:" value="" >
              </div>
              <p> Re : {{ courrier.object }}</p>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Objet">
              </div>
              <div>
                <textarea class="textarea" placeholder="Message" name="message" id="textAreaEditor"></textarea>
              </div><br>
              <div class="form-group">
                <input type="file" class="form-control" name="file[]" id="file_reply" multiple="multiple">
              </div>
              <input type="hidden" id="msg-id-reply" name="msg">
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-reply"></i> Fermer</button>
          <button type="button" class="pull-right btn btn-primary" id="sendEmail"><i class="fa fa-envelope"></i> Envoyer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="MessageTranfert">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-envelope"> </i> Transferer l'email</h4>
            <img src="{{ asset('assets/images/loading.gif') }}" width="35" height="35" style="display:none;position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%)" id="img2">
            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-info btn-sm"><i class="fa fa-times"></i></button>
          </div>
        <div class="modal-body position-relative">
          <div class="box-body">
            {{ form_start(formMsgTransfert,{'attr': {'id': 'id-form-share'}}) }}
            <div class="form-group">
              <select class="form-control" name="user[]" multiple size="4" id="user-to-share">
                {% for user in users %}
                  <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
              </select>
            </div>
             <div class="form-group">
              <select class="form-control" name="user[]" multiple size="4" id="user-to-share">
                {% for user in users %}
                  <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
              </select>
            </div>
             <div class="form-group">
              <select class="form-control" name="user[]" multiple size="4" id="user-to-share">
                {% for user in users %}
                  <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
              </select>
            </div>
              <div class="form-group">
                <input type="text" class="form-control" name="message_object" value="{{ courrier.object }}" placeholder="Objet">
              </div>
              <div class="form-group">
                <textarea class="textarea" placeholder="Message" id="textAreaEditorShare" data-msg="{{ courrier.message }}"></textarea>
              </div><br>
              <div class="form-group">
                <input type="file" class="form-control" name="file_share[]" id="file_share" multiple="multiple">
              </div>
              <input type="hidden" id="msg-id-share" name="message_share">
          </div>
          {{ form_end(formMsgTransfert) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-reply"></i> Fermer</button>
          <button type="button" class="pull-right btn btn-primary" id="shareEmail"><i class="fa fa-envelope"></i> Transférer</button>
        </div>
      </div>
    </div>
  </div>

{{include ("include/footer.html.twig")}}

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
  var urlOutbox = "{{ path("app_outbox") }}";
  var urlReply = "{{ path("app_reply") }}";
  var urlShare = "{{ path("share_message", {'id': courrier.id}) }}";
  
  $( document ).ready(function() {
    var  msg_read = $("textarea#textAreaEditorShare").data('msg');
    $("textarea#textAreaEditorShare").val(msg_read);
    $("#sendEmail").on('click', function () {
      $("#img").show();
      var msg = CKEDITOR.instances['textAreaEditor'].getData();
      $("#msg-id-reply").val(msg);
      $.ajax({
        url: urlReply,
        method: "POST",
        dataType: "json",
        cache: false,
        processData: false,
        contentType: false,
        data: new FormData($('form')[1]),
        success: function(data) {
          $("#img").hide();
          window.location.replace(urlOutbox);
        },
        error: function(error) {
          console.log('erreur ajax');
        }
      })
    });
  
    $("#shareEmail").on('click', function () {
      $("#img2").show();
      var msg_share = CKEDITOR.instances['textAreaEditorShare'].getData();
      $("#msg-id-share").val(msg_share);
      $.ajax({
        url: urlShare,
        method: "POST",
        dataType: "json",
        cache: false,
		processData: false,
		contentType: false,
        data: new FormData($('form')[2]),
        success: function(data) {
          $("#img2").hide();
          window.location.replace(urlOutbox);
        },
        error: function(error) {
          console.log('erreur ajax');
        }
      })
    });
 
  });
</script>
{% endblock %}
