{% extends 'base.html.twig' %}
{% set title = "Tous les messages" %}
{% set active = 'messages' %}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{ include ("include/menu.html.twig") }}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion de messagerie</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Avt</a></li>
                <li class="breadcrumb-item active">Tous les messages</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">

        <div class="card">          
            <div class="card-header">
              <h3 class="card-title">Tous les messages</h3>
            </div>
            <form action="#" method="post" id="form-btn-mailbox">

            <div class="card-body p-0">
                <div class="error"></div>
                <div class="mailbox-controls">
                <!-- Check all button -->
                {% if messages|length > 0 %}
                <input type="checkbox" id="checkAll" class="btn btn-default btn-sm checkbox-toggle">                
                <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                    <i class="far fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Archiver">
                    <i class="fas fa-archive"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Marquer comme lu">
                    <i class="fas fa-envelope"></i>
                </button>
                <a href="{{ path('all_messages') }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                    <i class="fas fa-sync-alt"></i>
                </a>
                {% endif %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>
                                <input type="checkbox" name="checkbox_multiple[]"
                                        value="{{ message.id }}" class="checkbox_multiples">
                            </td>
                            <td>
                                {% if message.sender.Email == app.user.email %}
                                    moi
                                {% else %}
                                    {{ message.sender.username is not null ? message.sender.username : "" }}
                                {% endif %}
                            </td>
                            <td>{{ message.object is not null ?  message.object : "" }}
                                - {{ message.message is not null ?  message.message[:95] ~ (message.message|length > 95 ? '...'): "" }}
                                <br/>
                                {% for file in message.files %}
                                    <span class="badge bg-success"><i class="fa fa-file-archive"> </i> &nbsp;&nbsp; <a class="text-white" href={{ file.libelle is not null ? asset('uploads/messages/' ~ file.libelle) : '' }}>{{ file.libelle }}</a></span>
                                {% endfor %}
                            </td>
                            <td class="mailbox-date">{{ message.createdAt|ago }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <div align="center">
                                <h4 class="text-danger">Aucun message</h4>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
</div>
<!-- /.content-wrapper -->
{{ include ("include/footer.html.twig") }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let path_trash_multiple = "{{ path('trash_multiple') }}";
        let path_archive_multiple = "{{ path('archive_multiple') }}";
        let path_box = "";
    </script>

    <script src="{{ asset('assets/js/check-multiple.js') }}"></script>
{% endblock %}


