{% extends 'base.html.twig' %}
{% set title = "Nouveau message" %}
{% set active = 'nouveau'%}

{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">

{{include ("include/menu.html.twig")}}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Nouveaux messages 
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Messagerie</a></li>
        <li class="active">Nouveau message</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Nouveau Message</h3>
            <div class="box-tools pull-right">
              <button id="copie" type="button" class="btn-default btn-xs">Cc</button>
              <button id="copie_inv" type="button" class="btn-default btn-xs">Cci</button>
            </div>
          </div>

        
          {{ form_start(form,{'attr': {'id': 'id-form'}}) }}
          <div class="box-body">
            <div class="form-group">
              {{ form_row(form.recipient) }}
              {{ form_row(form.messageCcTo) }}
              {{ form_row(form.messageCciTo) }}
              {{ form_row(form.object) }}
              {{ form_row(form.message) }}
              {{ form_row(form.file) }}
            </div>
          </div>

          <div class="box-footer">
            <div class="pull-right">
              <button type="reset" class="btn btn-default"><i class="fa fa-reply"></i> Annuler</button>
              <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Envoyé</button>
            </div>
            <button type="submit" class="btn btn-default" id="id-draft"><i class="fa fa-times"></i> Brouillon</button>
          </div>
          {{ form_end(form) }}

        </div>
      </div>
    </section>
  </div>


{{include ("include/footer.html.twig")}}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  var urlDraft = "{{ path("app_draft") }}";
  var urlMailBox = "{{ path("app_mailbox") }}";
  var urlNewDraft = "{{ path("new_draft") }}";
  
  $( document ).ready(function() {    
    $("#id-draft").on('click', function () {
      var form = new FormData($('form')[0]);
      if($(".recep").val() == ''){
        window.location.replace(urlMailBox);
      }else{
        $.ajax({
          url: urlNewDraft,
          method: "POST",
          dataType: "json",
          cache: false,
          processData: false,
          contentType: false,
          data: form,
          success: function(data) {
            window.location.replace(urlDraft);
          },
          error: function(error) {
            console.log('erreur ajax');
          }
        })
      }
    });    
  });
</script>
{% endblock %}