{% extends 'base.html.twig' %}
{% set title = "Messages patragés" %}

{% block body %}

    <body class="hold-transition sidebar-mini layout-fixed">

    {{include ("include/menu.html.twig")}}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Nouveaux messages
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Messagerie</a></li>
                <li class="active">Nouveau message</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Messagerie</h3>

                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path ('app_mailbox') }}"><i class="fa fa-inbox"></i> Boîte de réception
                                <span class="label label-primary pull-right"></span></a>
                                </li>
                                <li><a href="{{ path ('app_outbox') }}"><i class="fa fa-send-o"></i> Boîte d'envoie</a></li>
                                <li><a href="{{ path ('app_draft') }}"><i class="fa fa-file-text-o"></i> Brouillon</a></li>
                                <li><a href="{{ path ('app_archive') }}"><i class="fa fa-archive"></i> Archive </a></li>
                                <li><a href="{{ path ('app_trash') }}"><i class="fa fa-trash-o"></i> Corbeille</a></li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Partager un Message</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form) }}
                            </div>
                        </div>
{#                        <!-- /.box-body -->#}
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Partager</button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Annuler</button>
                        </div>
                        {{ form_end(form) }}
{#                        <!-- /.box-footer -->#}
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {{include ("include/footer.html.twig")}}

{% endblock %}