{% extends 'base.html.twig' %}
{% set title = "Boîte de réception" %}
{% set active = 'reception' %}

{% block body %}

{#<body class="hold-transition sidebar-mini layout-fixed">#}

{{ include ("include/menu.html.twig") }}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Gestion de messagerie</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Avt</a></li>
						<li class="breadcrumb-item active">Boîte de réception</li>
					</ol>
				</div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
          <div class="card card-primary collapsed-card">
            <div class="card-header">
              <h3 class="card-title">Recherche</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
                {{ form_start(search_form,{"attr":{"novalidate":true}}) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(search_form.emailFrom) }}
                        {{ form_row(search_form.emailTo) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.object) }}
                        {{ form_row(search_form.contentOf) }}
                    </div>
                </div><br>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                    <a href="{{ path('app_mailbox') }}" class="btn btn-success">Actualiser</a>
                </div>
                {{ form_end(search_form) }}
            </div>
          </div>
        <div class="card">          
            <div class="card-header">
              <h3 class="card-title">Boîte de réception</h3>
            </div>
            <form action="#" method="post" id="form-btn-mailbox">

            <div class="card-body p-0">
                <div class="error"></div>
                <div class="mailbox-controls">
                <!-- Check all button -->
                {% if email_receiveds|length > 0 %}
                <input type="checkbox" id="checkAll" class="btn btn-default btn-sm checkbox-toggle">                
                <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                    <i class="far fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Archiver">
                    <i class="fas fa-archive"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Marquer comme lu">
                    <i class="fas fa-envelope"></i>
                </button>
                <a href="{{ path('app_mailbox') }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualiser">
                    <i class="fas fa-sync-alt"></i>
                </a>
                {% endif %}
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="data-table" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% for email_received in email_receiveds %}
                        <tr>
                            <td>
                                <input type="checkbox" name="checkbox_multiple[]"
                                        value="{{ email_received.id }}" class="checkbox_multiples">
                            </td>
                            <td>
                                <a href="{{ path('read', {'id': email_received.id, 'route': app.request.attributes.get('_route') }) }}">
                                    <b>
                                        {% if email_received.sender.email == app.user.email %}
                                            moi
                                        {% else %}
                                            {{ email_received.sender.username is not null ? email_received.sender.username : "" }}
                                        {% endif %}
                                    </b>&nbsp;&nbsp;<span class="badge bg-red" id="badge">{{ email_received.isRead == true ? "" : "Nouveau" }}</span>
                                </a>
                            </td>
                            <td>
                                <span style="font-weight: {{ email_received.isRead == 0 ? "bold" : "" }}">{{ email_received.object is not null ?  email_received.object : "" }}</span>
                                - {{ email_received.message is not null ?  email_received.message[:95] ~ (email_received.message|length > 95 ? '...'): "" }}
                                <br/>
                                {% for file in email_received.files %}
                                    <span class="badge bg-success">
                                        <i class="fa fa-file-archive"> </i> &nbsp;&nbsp;
                                        <a class="text-white"
                                            href={{ file.libelle is not null ?
                                        asset('uploads/messages/' ~ file.libelle) :'' }}>
                                            {{ file.libelle }}
                                        </a>
                                    </span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ email_received.createdAt|ago }}
                            </td>
                            <td>
                                <a href="{{ path('archive', {'id': email_received.id, 'route': app.request.attributes.get('_route')}) }}"
                                    class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip"
                                    data-placement="bottom" title="Archiver"><i class="fa fa-archive"></i></a>
                                <a href="{{ path('trash', {'id': email_received.id, 'route': app.request.attributes.get('_route')}) }}"
                                    class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip"
                                    data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                                <a href="{{ path('mark_as_read', {'id': email_received.id}) }}"
                                    class="btn btn-social-icon btn-default btn-sm" data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="{{ email_received.isRead == 0 ? "Marquer comme lu":"Marquer comme non lu" }}"><i
                                            class="fa fa-envelope"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <div align="center">
                                <h4 class="text-danger">Aucun message</h4>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
</div>
<!-- /.content-wrapper -->
{{ include ("include/footer.html.twig") }}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    let path_trash_multiple = "{{ path('trash_multiple') }}";
    let path_archive_multiple = "{{ path('archive_multiple') }}";
    let path_box = "app_mailbox";
</script>

<script src="{{ asset('assets/js/check-multiple.js') }}"></script>
{% endblock %}